.content {
    position: fixed;
    display: block;
    margin-block: 0;
    padding: 1em;
    background-color: white;
    border-radius: 0.3em;
}

.cartItems {
    list-style-type: none;
    padding: 0;
}

.cartItems > * + * {
    margin-top: 1.5em;
}
