.layout {
    padding: 1em;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
}

.layout > * + * {
    margin-left: 2em;
}

.goods {
    flex: 3;
}

.cart {
    position: relative;
    flex: 1;
}